body {
    text-align: center;
}
.h {
    background-color: lightgoldenrodyellow;
}
#timeLeft {
    background-color: red;
}
.question {
    background-color: lightblue;
}
#correctedAnswer {
    background-color: lightgreen;
}
#startOverBtn {
    background-color: blue;
}
